@use "sass:map";

body {font-size:12px; font-family: Arial, serif; color:#000000}
h1 { margin:0; font-size:18px; padding:0; line-height:100%}

.cols {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  &.main {
    margin: 8px 3px;
    > div:nth-child(1) {width: 150px}
    > div:nth-child(2) {width: 100%}
  }
}

/* Меню главное */
.globalMenu {
  a {
    color:#0000FF; text-decoration:none;
    &.cur, &:hover {text-decoration:underline}
    &.cur {color:green}
  }
  .delim {color:#CCCCCC}
  a, .delim {margin:0 10px 0 0; }
}

/* Меню цепочка */
span.menuChain {
  a {text-decoration: none}
  a, span {margin-right: 10px}
}

/* Меню таблиц */
div.menuTables {
  a {
    font-size: 10px; text-decoration: none; line-height: 120%; display: block;
    &:hover {text-decoration:underline}
    &.cur {color:#CC0000}
  }
  .t1 {color:#000000; margin-left:5px; }
  .t2 {color:green}
}

/* Меню баз данных */
div#dbHiddenMenu {
  padding:5px; position:absolute; left:8px; top:8px; border:1px solid #aaa;
  A { font-size:12px; display: block}
  A:hover {color:black}
}

/* Блок запросов */
.queryPopupBlock span {margin-right: 5px}
.queryPopupBlock div { padding:5px; position:absolute; left:500px; top:65px; background-color:#FFFFFF; border:1px solid black}

/* Форма поиска в футере */
form.formSearch { display:inline; margin:0; padding:0}
form.formSearch INPUT { font-size:12px; padding:2px}
form.formSearch INPUT.img { margin:0; border:0; vertical-align:middle}

/* Блок страницы */
div.pageBlock { padding:5px; margin: 5px 0; }
div.pageBlock > B { margin-right: 20px }
div.pageBlock > B A { text-decoration:none; }

/* Форма SQL запроса всплывающая */
form.popupGeneralForm { padding:5px; position:absolute; left:20px; top:50px}
form.popupGeneralForm TEXTAREA { font-size:12px; width:800px; padding:5px; display:block;}
form.popupGeneralForm INPUT { text-align:right; margin:5px 0 }
.popupGeneralFormOpen {margin-right: 10px}

/* Таблица сообщения */
table.globalMessage {
  margin:5px 0; border-collapse:collapse; empty-cells:show;
  td, th { padding: 5px; font-size:12px;}
  th {text-align:left; }
  .sqlQuery { font-size:10px; font-weight:bold; margin:2px 10px; white-space:pre}
  .mysqlError { font-size:10px; font-weight:bold; }
}

/* Отображения времени выполнения */
span.hiddenText { }
/* Для ссылок */
A.hiddenSmallLink { text-decoration:none; font-size:10px}


/* Прочие стили */

/* Таблица основная */
table.contentTable { border-collapse:collapse; empty-cells:show; margin:10px 0 0}
table.contentTable td { padding: 3px 3px 1px; font-size:12px; vertical-align: top}
table.contentTable th { padding: 3px; font-size:12px; text-align:left; white-space:nowrap}
table.contentTable .cb { margin:0; width:18px; height:18px}
table.contentTable .sort { text-decoration:none; font-size:10px}
table.contentTable .sort:hover { text-decoration:underline}
table.contentTable .tbl { width:200px; font-size:14px}
table.contentTable .num { width:80px; text-align:right;}
table.contentTable .rig { text-align:right;}
table.contentTable a { text-decoration:none}
table.contentTable.interlaced tr:nth-child(odd) { background-color: #eee}
table.contentTable img { margin: 0}
table.optionstable {empty-cells:show; border-collapse:collapse;}
table.optionstable th {background-color: #eee}
table.optionstable th, table.optionstable td {border:1px solid #ccc; padding: 2px 4px; vertical-align: top;}
/* db_compare tbl_compare */
.contentTable .r {text-align:right}
.contentTable .b { font-size:14px;}
.contentTable .diff TD{ background-color:#FF3333; color:#FFFFFF}
.contentTable.anone A { text-decoration:none}
.contentTable .e { background-color: #afa}
.contentTable .n { background-color: #faa}

/* Таблица с формой */
form.tableFormEdit { margin:10px 0}
form.tableFormEdit table { border-collapse:collapse; empty-cells:show}
form.tableFormEdit td { padding: 2px 2px; font-size:12px; white-space:nowrap; vertical-align:middle}
form.tableFormEdit th { font-size:12px; white-space:nowrap}
form.tableFormEdit .editHeader TD { font-size:14px; font-weight:bold; white-space:nowrap; padding:5px}
form.tableFormEdit .si,
    form.tableFormEdit input,
    form.tableFormEdit SELECT { padding:5px}
form.tableFormEdit .field { font-size:14px}
form.tableFormEdit .submit { display:block; margin:5px 0}
form.tableFormEdit textarea#sqlContent { font-size:12px; width:99%; padding:5px }
form.tableFormEdit td.inner { padding: 0; }

/* Таблица экспорт и поиск */
table.tableExport { border-collapse:collapse; empty-cells:show; width:100%; line-height:180%;}
table.tableExport td, .tableExport th { font-size:14px; white-space:nowrap; padding:5px}
table.tableExport .sel { font-size:14px; height:150px}
table.tableExport .hs { font-size:12px; text-decoration:none; margin:0 5px}
table.tableExport .l2 { margin:0 0 0 24px}
table.tableExport .ta { font-size:10px}
[name="formExport"] label { display:block}
[name="formExport"] label .l2 { margin-left:24px}
[name="formExport"] TABLE.tableExport .l2 {margin-right: 5px}
[name="formExport"] [name="fields[]"] {height:120px; width:150px;}
#search_table select {margin-right: 10px}

/* Общая форма внтури FIELDSET actionsdb actions */
fieldset.msGeneralForm {
  margin:20px 0; padding: 10px;
  form { margin:0;}
  legend { font-size:14px; }
  input.submit { display:block; margin-top:5px;}
  input + button[type=submit] {margin-left: 10px}
}

/* Блок с картинками сабмит: db_list, tbl_data, tbl_struct, tbl_list */
div.imageAction { margin:20px 0}
div.imageAction img, div.imageAction input{ margin:0 0 0 20px; vertical-align:text-top }
div.imageAction img {cursor:pointer}
div.imageAction u { font-weight:bold; font-size:14px}
div.chbxAction {font-size:12px; margin:5px;}
img.helpimg {cursor:pointer}

#msAjaxQueryDiv {position: fixed; right: 0; bottom: 0; background: white; overflow: auto; max-height: 200px; padding-right:20px;}

.page-login { text-align: center}
.page-login p { margin:3px}
.page-login .message {color:#FF0000; padding:10px}

/* tbl_list */
.links-block {
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.links-block a + a {
  margin-left: 10px;
}
.links-block a.active {
  color: green;
  text-decoration: none;
}
.dateSelector select {margin-right: 5px}
.dateSelector span {margin-right: 5px}
h4 {font-size:16px; margin:10px 0 10px; background-color:#eee; padding:10px; width:800px}


/* Bootstrap style */

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);

.me-1 {margin-right: map.get($spacers, 1)}
.mb-5 {margin-bottom: 5px;}
.mt-10 {margin-top: 10px}
.mt-20 {margin-top: 20px}

.hidden {display: none!important;}
.d-inline {display: inline}
[role="button"] {cursor: pointer}
.grey {
  color: #aaa;
}